.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.card{
    width: 23rem;
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    padding: 2%;
}